SITE_URL=https://mjy.js.org
BASE_PATH=/nwafu-scripts
REPOSITORY_URL=https://github.com/majianyu2007/nwafu-scripts
AUTHOR=majianyu2007
LICENSE_NAME=MIT

PUBLIC_ADSENSE_CLIENT=ca-pub-9101785228583606
PUBLIC_UMAMI_SCRIPT_URL=https://umami.715654.xyz/script.js
PUBLIC_UMAMI_WEBSITE_ID=6bc518c3-c5f9-4afd-8edf-fe258aba7432
